<div class="page-header">
  <h4>
    {{title}} <small>{{subTitle}}</small>
  </h4>
</div>

<div class="section bd-example">
  <div class="col-sm-4">
    <small><em>CPU Usage</em></small>
    <progressbar [value]="cpuUsage"
      type="{{cpuUsage < 40 ? 'success' : cpuUsage < 70 ? 'warning' : 'danger'}}">
      <b>{{cpuUsage}}%</b>
    </progressbar>
    <span *ngIf="cpuDown" class="label label-danger">CPU SERVER DOWN</span>
    <span *ngIf="!cpuDown" class="label label-success">CPU SERVER ONLINE</span>
  </div>
</div>
